/* WTF takes so long for heroku to update */

body {
    background: #9fa8a3;
    color: black;
    font-family: montserrat;
}
.panel-heading h1.panel-title {
    font-size: 4rem;
}
.btn:focus,.btn:active, btn:active:focus {
    outline: none !important;
}
.breadcrumb {
    background: #fff;
}

.panel-header {
    color: black;
}

.btn-success {
    background: dodgerblue;
}
.btn-success:hover, .btn-success:active, .btn-success:active:focus {
    background: midnightblue;
}
.control-flow {
    height: 10px;
    overflow: hidden;
}

.btn-danger {
    display: none;
}

#main, .modal-footer {
    text-align: center;
    margin: auto;
    width: 100%;
}
.custom-select {
    color: black;
    font-size: 17px;
    display: inline-block;
    line-height: 1.4;
}

#routine p {
    display: none;
}

/* Modal Header */
.modal-header {
    padding: 2px 5px;
    background-color: #c5d5cb;
    color: black;
    padding-left: 16px;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
    color: black;
}

/* Modal Body */
.modal-footer {
    padding: 2px 16px;
    color: black;
    background: #c5d5cb;
    padding-bottom: 10px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    min-height: 30%;
    min-width: 30%; /* Could be more or less, depending on screen size */
    max-width: 95%;
}

/* The Close Button */
.close {
    color: #333;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Mobile Phone Font Size */

@media (max-width:350px) {
    #description {
        font-size: 18px;
    }
    .btn-primary {
        padding: 10px;
        margin: 0;
        border: 0;
    }
    .modal, .modal-content {
        overflow: auto;
    }

}
