#git, #face, #goog, #twit {
    color: white;
    font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
    text-align: left;
    padding-left: 50px;
}

#git {
    background: #666666 url('/images/github-logo.svg') left center no-repeat;
}

#face {
    background: #45619d url('/images/face-logo.svg') left center no-repeat;
    background-size: 36px 36px;
}

#goog {
    background: #d95032 url('/images/goog-logo.svg') left center no-repeat;
    background-size: 42px 42px;
}

#twit {
    background: #55ACEE url('/images/twitter-logo.svg') left center no-repeat;
    background-size: 36px 36px;
}

#soc-buttons {
    width: 25%;
    margin-right: 50px;
    float: right;
}

@media (max-width:480px){

   #soc-buttons {
    width: 90%;
    margin: auto;
    float: none;
}

}
