body {
    background: #9fa8a3;
    font-family: montserrat;
}

#git, #face, #goog, #twit {
    color: white;
    font-family: "Lato", "Lucida Grande","Lucida Sans Unicode", Tahoma, Sans-Serif;
    text-align: left;
    padding-left: 50px;
}

#git {
    background: #666666 url('/images/github-logo.svg') left center no-repeat;
}

#face {
    background: #45619d url('/images/face-logo.svg') left center no-repeat;
    background-size: 36px 36px;
}

#goog {
    background: #d95032 url('/images/goog-logo.svg') left center no-repeat;
    background-size: 42px 42px;
}

#twit {
    background: #55ACEE url('/images/twitter-logo.svg') left center no-repeat;
    background-size: 36px 36px;
}

#soc-buttons {
    width: 25%;
    margin-right: 50px;
    float: right;
}

/* dashboard styles */

#dash {
    font-size: 2rem;
}
#dash, #dash span, #dash li a {
    color: #777;
}

#dash li a:hover {
    color: dodgerblue;
}
.dashboard-links {
    text-align: center;
    /* display: none; */
    border-bottom: 1px solid transparent;
    border-color: #d3e0e9;
    padding: 0 15px 15px 15px;
    margin: 0 -15px;
}
#apps {
    font-size: 2rem;
    margin-top: 26px;
}

#apps img {
    position: relative;
    top: -3px;
    left: 2px;
    margin-right: 15px;
}

#apps li {
    list-style: none;
    position: relative;
    
}
#lynx {
    float: right;
    cursor: pointer;
}

#lynx img {
    position: relative;
    top: -1px;
}
@media screen and (max-width:480px){
    #soc-buttons {
    width: 90%;
    margin: auto;
    float: none;
    }
    .dashboard-links img {
    padding-bottom: 2px;
    }
}

/*task list*/

.panel-body .items {
    font: 1em "open sans", sans-serif;
    color: #363639;
    padding: 0px;
}

.check {
    position: relative;
    top: 2px;
}

.delete-task button {
    border: none;
    color: white;
    padding: 3px;
    overflow: auto;
}

.list {
    background: #fff;
    margin: 20px auto;
    width: 85%;
    max-width: 500px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 0 rgba(0,0,0,.1);
}

.header {
    text-align: center;
    font-size: 1.75em;
}

.list .header {
    font-family: "shadows into light two", cursive;
}

.items {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.done {
    text-decoration: line-through;
}

li:hover .delete-task {
    opacity: 1;
    background: rgba(200,0,0,.6);
    color: white;
    position: relative;
    top: -20px;
}

.items li, .item-add .input {
    border: 0;
    border-bottom: 1px dashed #ccc;
    padding: 15px 0;
}

.input:focus {
    outline: none;
}

.input {
    width: 100%;
}

.delete-task {
    border: 0;
    opacity: .0;
    float: right;
}

.submit {
    background: #fff;
    padding: 5px 10px;
    border: 1px solid #ddd;
    width: 100%;
    margin-top: 10px;
    box-shadow: 3px 3px 0 #ddd;
}